@import dao.CountriesDAO
@import scala.concurrent.Future
@import scala.concurrent.ExecutionContext.Implicits.global
@(message:String, topTen:Seq[(String,String,Int,Seq[String])], bottomTen:Seq[(String,String,Int,Seq[String])], cDao: CountriesDAO)



@main(message) {

<div class="row">
    <div class="col-md-12 table-responsive">

        <table class="table table-striped">
            <legend>Top 10 Countries by Number of Airports</legend>
            <thead>
            <tr>
                <th>Country Name</th>
                <th>Number of Airports</th>
                <th>Available Types of Runway</th>
                <th>10 Most Common Runway Identifications</th>
            </tr>
            </thead>
            <tbody>
            @for(country <- topTen) {
                <tr>
                    <th>@country._2 (@country._1)</th>
                    <td>@country._3</td>
                    <td>@country._4.mkString(", ")</td>
                    <td>&nbsp;</td>
                </tr>
            }
            </tbody>
        </table>

        <table class="table table-striped">
            <legend>Bottom 10 Countries by Number of Airports</legend>
            <thead>
            <tr>
                <th>Country Name</th>
                <th>Number of Airports</th>
                <th>Available Types of Runway</th>
                <th>10 Most Common Runway Identifications</th>
            </tr>
            </thead>
            <tbody>
            @for(country <- bottomTen) {
            <tr>
                <th>@country._2 (@country._1)</th>
                <td>@country._3</td>
                <td>@country._4.mkString(", ")</td>
                <td>&nbsp;</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

}